@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --primary-purple: #d7d4ff;
  --primary-blue: #00bbf9;
  --primary-pink: #f15bb5;
  --primary-gray: #636363;
  --background-color: #131513;
  --text-color: #fff;
}

@font-face {
  font-family: "Evolventa";
  src: url("/fonts/EvolventaBold.woff2") format("woff2");
  src: url("/fonts/EvolventaBold.woff") format("woff");
  font-weight: 600;
  font-style: normal;
}
@font-face {
  font-family: "Mundial";
  src: url("/fonts/MundialRegular.woff2") format("woff2");
  src: url("/fonts/MundialRegular.woff") format("woff");
  font-weight: 400;
  font-style: normal;
}

@layer utilities {
  .font-evolventa {
    font-family: "Evolventa", sans-serif;
  }

  .font-mundial {
    font-family: "Mundial", sans-serif;
  }
}

/* @media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
} */

body {
  font-family: "Outfit", "sans-serif";
  background-color: var(--background-color);
  color: var(--text-color);
}

p {
  margin-bottom: 2rem;
  font-size: 1.25rem;
}

ul,
ol,
a {
  font-size: 1.25rem;
}

@media screen and (max-width: 767px) {
  p {
    font-size: 1rem;
  }

  ul,
  ol,
  a {
    font-size: 1rem;
  }
}

@media screen and (max-width: 640px) {
  p {
    margin-bottom: 1.25rem;
  }
}
